@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:wght@100..900&display=swap');

@media screen and (max-width: 768px) {
    
    .container{
        display: block;
        background-image:none;
        grid-template-columns: 1fr;
        padding: 1em;
        height: auto;
        background-image: none;
    }
    
    .principal {
        height: auto;
        padding: 2em 1em;
        background-size: contain;
        background-image: none;
        background-color: var(--cor-quintenaria);
    }
    
    .container__caixa {
        margin: 2em 1em;
    }

    .secundario,
    .terciario {
        margin: 1em;
        text-align: center;
        flex-direction: column;
        gap: 1.5em;
    }

    .secundario__imagem {
        width: 100%;
        height: auto;
    }

    .terciario__imagem {
        width: 100%; 
        height: auto;
    }

    .rodape__lista{
        display: block;
        text-align: center;
    }
}

:root {
    --cor-principal: #E6E2D9;
    --cor-secundaria: #F2DAC4;
    --cor-terciaria: #D99E6A;
    --cor-quartenaria: #8C451C;
    --cor-quintenaria:#BF613F;

    --fonte-principal: 'Cabin', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-quintenaria);
    color: var(--cor-principal);
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 400;
}

.principal {
    background-image: url("/assets/45-jackson-five-and-sofa_1_orig.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode: darken;
    width: 100%;
    height: 100vh;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 1.75em;
    font-weight: 700; 
}

.container__descricao {
    font-size: 1em;
    font-weight: 400;
    color: var(--cor-principal);
}

.container__botao {
    background-color: var(--cor-quintenaria);
    border-radius: 5px;
    padding: 1em;
    color: var(--cor-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__botao:hover {
    background-color: var(--cor-quartenaria);
    color: var(--cor-principal);
}

.container__aviso {
    font-size: 0.8em;
    color: var(--cor-secundaria);
}

.secundario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem {
    width: 80%;
    height: 80%;
    border-radius: 6px;
    margin: 1em;
}

.secundario__titulo {
    font-size: 2.4em;
    font-weight: 700; 
    margin-bottom: 0.3em;
}

.secundario__descricao {
    color: var(--cor-secundaria);
}

.terciario {
    display: flex; 
    flex-direction: row-reverse; 
    justify-content: flex-start; 
    align-items: center; 
    text-align: center;
    margin: 0 10em;
    gap: 2em; 
}

.terciario__imagem {
    width: 35%; 
    height: auto; 
    border-radius: 6px;
    margin: 0; 
}

.terciario__descricao {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    gap: 0.5em;
    color: var(--cor-secundaria);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 1em;
}

.rodape__link a {
    color: var(--cor-principal);
    text-decoration: none;
    margin-left: 1em;
}

.rodape__link:hover a {
    color: var(--cor-quartenaria);
}

.rodape__copyright {
    text-align: center;
    font-size: 0.75em;
    color: var(--cor-secundaria);
    margin-top: 1em;
}